#main_content .page_banners {

  position: relative;

  box-shadow: none;

  .main_banner.featured_carousel {

    cursor: pointer;

    width: 70%;

    margin-top: 3rem;

    .ui.button {

      opacity: 0;

      position: absolute;

      top: 50%;

      width: 40px;

      height: 40px;

      z-index: 2;

      transform: translateY(-50%);

      background-color: rgba(31,45,61,.11);

      color: #fff;

      text-align: center;

      transition: all .3s ease 0s;

      &:hover {

        background-color: rgba(31,45,61,.23);

      }

    }

    .prev.button {

      left: 0.7rem;

    }

    .slick-list {

      padding: 0.6rem;

    }

    .next.button {

      right: 0.7rem;

    }

    .slick-dots {

      bottom: 1rem;

      cursor: default;

      li {

        opacity: 0.8;

        transition: 0.3s all ease-in-out 0s;

        border: 0;

        display: inline-block;

        width: 12px;

        height: 12px;

        background-color: #2a6ea8;

        border-radius: 10px;

        margin: 0.8 0.8rem;

        &.slick-active {

          border: 0;

          margin: 0.8 0.8px;

          display: inline-block;

          width: 25px;

          height: 12px;

          border-radius: 10px;

          background-color: #ffea75;

          opacity: 1;

        }

        button:before {

          content: '';

        }

      }

    }

    img {

      visibility: hidden;

      width: 100%;

      height: auto;

    }

  }

  .corner_banners {

    position: absolute;

    width: 30%;

    height: 100%;

    top: 0;

    right: 0;

    .corner_banner {

      visibility: hidden;

      padding-top: 1rem;

      padding-bottom:1rem;

      box-sizing: border-box;

      margin-top: 0!important;

      margin-bottom: 0!important;

      margin: 1rem;

      margin-right: 0;

      cursor: pointer;

      width: auto;

      height: 33.333%;

      .card_image {

        float: left;

        width: 23.6%;

        height: auto;

        margin-left: 1rem;

        margin-right: 1rem;

      }

      .card_content{

        h6 {

          text-align: justify;

          margin: 0;

          font-size: 1.1rem;

          line-height: 2rem;

        }

        p {

          padding-right: 2rem;

          text-align: justify;

          color: #000;

          font-size: 0.9rem;

          line-height: 1.8rem;

        }


      }

    }

    .corner_banner3 {

      padding-top: 1rem;

    }

  }

}
