.ui.top.sidebar {

  opacity: 1;

  .content_wrapper {

    background-color: #fff;

    height: 100vh;

    overflow-x: hidden;

    overflow-y: auto;

    .sidebar_header {

      height: 3.5rem;

      border-bottom: #f2f2f2 solid 1px;

    }

    .menu {

      padding-bottom: 3.2rem;

      ul {

        list-style: none;

        display: flex;

        flex-wrap: wrap;

        padding-left: 0;

        margin: 1rem auto 1rem auto;

        width: 9.5rem;

        li {

          flex-basis: 100vw;

          padding-top:2.5rem;

          a {

            color: #000;

            font-size: 1.1rem;

          }

          a.active {

            color: #0a7dab;

          }

        }

      }

    }



    .close_layer {

      border-top: #F2F2F2 solid 1px;

      border-bottom: #F2F2F2 solid 1px;

      background-color: #fff;

      height: 3.2rem;

      line-height: 3.2rem;

      text-align: center;

      font-size: 1.14rem;

      font-weight: bold;

      position: fixed;

      bottom: 0;

      left: 0;

      right: 0;

      a {

        display: block;

        color: #757575;

      }

    }

  }



}
