
#header .content  {

  height: 5rem;

  align-items: center;

  display: flex;

  justify-content: space-between;

  .logo_section .logo {

    width: 9rem;

    height: auto;

  }

  @media only screen and (max-width: 1262px) {

    .logo_section .logo {

      transform: translateY(0.3rem);

    }

  }


  .right_wrap {

    @media only screen and (max-width: 995px) {

      .right.menu {

        transform: translateX(1.6rem);

      }

    }

    .login_button {

      color: #222;

      letter-spacing: 0.4rem;

    }

    .divider_item {

      padding: 0 1rem 0 1rem;

    }

    .register_button {

      display: inline-block;

    }

    .ui.category.search.item {

      display: inline-block;

      .search.icon.negative_mg_lft {

        margin-left: -0.85rem;

      }

      .prompt {

        visibility: hidden;

        width: 0;

      }

      .close.icon {

        display: none;

        position: relative;

        right: 1.25rem;


      }

    }

  }

}

#main_nav {

 background: linear-gradient(-45deg, #0f99d0, #2a6ea8);

  .content {

    height: 3.5rem;

    display: flex;

    align-items: center;

    .left.menu {

      display: flex;

      justify-content: space-between;

      width: 65%;

      .item.active {

        color: #ffea75;

      }

    }

    @media only screen and (max-width: 1262px) {

      .left.menu {

        width: 75%;

      }

    }

    @media only screen and (max-width: 995px) {

      .left.menu {

        width: 100%;

      }

    }

    .left.menu > a {

      color: white;

    }

  }

}
