
#header .content  {

  height: 5rem;

  align-items: center;

  display: flex;

  justify-content: space-between;

  .divider_item {

    padding: 0 1rem 0 1rem;

  }

  .right_wrap {

    .register_item {

      display: inline-block;

    }

    .ui.category.search.item {

      display: inline-block;

      .prompt {

        visibility: hidden;

        width: 0;

      }


    }

  }

}

#main_nav {

  border-top: 1px solid #2872ae;

  background-color: #257cbf;

  .content {

    height: 3.5rem;

    display: flex;

    justify-content: space-between;

    align-items: center;

    .left.menu > a {

      color: white;

    }

  }

}
